# What is this notebook for ?

Once we have the final dataset to be passed to owl model
1. Analyze the distribution

In [1]:
from binsense.dataprep.config import DataPrepConfig
import pandas as pd

cfg = DataPrepConfig()
df = pd.read_csv(cfg.inimage_queries_csv)[["query_label", "image_relpath", "count", "tag"]]
df.head()

  query_label                            image_relpath  count    tag
0  B00KOW827M  filtered_dataset/train/images/00942.jpg      1  train
1  B012Q4M3DO  filtered_dataset/train/images/01960.jpg      1  train
2  B01BZYSCP4  filtered_dataset/train/images/02320.jpg      1  train
3  1563682826  filtered_dataset/train/images/02594.jpg      4  train
4  B00P20NJP6  filtered_dataset/train/images/02594.jpg      1  train

In [2]:
df.groupby("tag").aggregate("count")["count"]

tag
test      78
train    569
valid     43
Name: count, dtype: int64

In [3]:
df["query_type"] = df["count"] > 0
df.groupby(by=["tag", "query_type"]).aggregate("count")["count"]

tag    query_type
test   False          10
       True           68
train  False          54
       True          515
valid  False           5
       True           38
Name: count, dtype: int64

In [4]:
print("train\n", df.query("tag == 'train'").groupby(\
    by=["query_label"])\
    .aggregate("count")["count"].describe())

print("test\n", df.query("tag == 'test'").groupby(\
    by=["query_label"])\
    .aggregate("count")["count"].describe())

train
 count    334.000000
mean       1.703593
std        0.750687
min        1.000000
25%        1.000000
50%        2.000000
75%        2.000000
max        4.000000
Name: count, dtype: float64
test
 count    68.000000
mean      1.147059
std       0.396428
min       1.000000
25%       1.000000
50%       1.000000
75%       1.000000
max       3.000000
Name: count, dtype: float64

In [5]:
print("train\n", df.query("tag == 'train'").groupby(\
    by=["count"]).aggregate("count")["tag"])

train
 count
0      54
1     384
2      69
3      33
4      20
5       2
6       1
9       1
10      2
14      3
Name: tag, dtype: int64